* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn {
    display: inline-block;
    background-color: rgba(244, 59, 59, 0.767);
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    /* background-color as given bellow is not requried
    transition: background 0.5s; */
}
.viwe{
    font-size: 1.1pc;
    margin-right: 50px;
    font-weight: bold;
    cursor: pointer;
        display: inline-block;
        transition: transform 0.3s ease; /* Smooth transition */
       
            /* width: 100%;              Full width */
            /* height: 100px;             Set height of the element */
            /* background-color: coral;   Background color for visibility */
            /* transition: transform 0.5s ease; Smooth movement transition */
            position: relative;   
           transition: cubic-bezier(1,0,01);
    }

   
.viwe:hover{
    transform: translateX(90px);
    
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;

    nav {
        flex: 1;
        text-align: right;
    }

    nav ul {
        display: inline-block;
        /* list-style-type: none; this is use for the removeing dots means li dots */
        list-style-type: none;
    }

    nav ul li {
        display: inline-block;
        margin-right: 20px;
    }

    a {
        text-decoration: none;
        color: gray;
    }

    p {
        color: skyblue;
    }

    margin-left: 20px;
}

.bi-list {
    margin-left: 20px;
    font-size: 3ch;
}


.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.container {
    max-width: 13000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .col-2 {
        flex-basis: 50%;
        min-width: 300px;


        img {
            max-width: 100%;
            padding: 50px 0;
        }

        h1 {
            font-size: 30px;
            line-height: 60px;
            margin: 25px 0;
        }

        .btn {
            display: inline-block;
            background-color: rgba(244, 59, 59, 0.767);
            color: white;
            padding: 8px 30px;
            margin: 30px 0;
            border-radius: 30px;
            /* background-color as given bellow is not requried */
            transition: background 0.5s;
        }

    }

    .btn:hover {
        background: green;
    }
}

.header {
    background: radial-gradient(#fff, #dfdf);
}

.categories {
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    width: 100%;


    .small-container {
        /* background-color: #ff523b; */
        /* align-items: center;
        text-align: center; */
        margin-top: 30px;
        margin-bottom: 30px;
        /* justify-content: center; */



        .row {
            /* background-color: aqua; */
            display: flex;
            /* float: left; */
            justify-content: center;



            img {
                /* justify-content: center; */
                width: 100px;
                /* display: inline; */
                margin-left: 30px;
                padding: 30PX;
                /* align-items: center;
                text-align: center; */
                /* height: 100px; */
                width: 100%;
                /* background-color: powderblue; */
                overflow: hidden;
                align-items: center;
                justify-content: space-between;

            }

        }


    }
}



background-color: #ff523b;


img {
    width: 100%;
}









.title {
    margin-bottom: 0px;
    text-align: center;

    align-items: center;


    /* margin: 0 auto 10px; */
    /* position: relative; */
    /* line-height: 60px; */
    color: #555;


    border-bottom: #ff523b 3px solid;


}

.col-4:hover {
    transform: translateY(-5px);
}



.title {

    text-align: center;
    width: 95%;
    margin-top: 20px;

    border-bottom: 2px crimson solid;
}
.div{
    display: flex;
    width: 98%;
    margin-left: 2px;
    margin-top: 10px;
}
.small-container-2 {
   width: 100%;
   align-items: center;
   display: flex;
   /* float: left; */
   /* max-width: 1080px; */
    .rating {
        color: #ff523b;
        text-align: center;

    }

    .Amount {
        text-align: center;


    }

    .row-2 {
/* display: flex; */
float: left;
  width: 25%;
  
  padding: 10px;
/* display: grid;

grid-template-columns: auto auto auto; */
        /* background-color: aquamarine; */
        /* position: absolute; */
        /* display: flex; */
        margin-left: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;

     
  
      
            /* background-color: #008CBA; */
            overflow: hidden;
            width: 100%;
            height: 100%;
        max-width: 1080px;

            align-items: center;
            text-align: center;

            h4 {
                /* background-color: #ff523b; */
                text-align: center;
                margin-right: 30px;
                width: 100%;
                align-items: center;

            }


            img {
                /* align-items: center; */
                /* text-align: center; */
                /* width: 100%; */
            }





        }

    }




.small-container-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #ff523b; */
    /*     
   display: flex;
   width: 100%;
   align-items: center;
   text-align: center;
   width: 100%; */
    /* width: 100%; */
    /* align-items: center; */
    /* text-align: center; */
    margin-left: 20px;
    width: 99%;

    img {
        width: 100%;
        height: 300px;
        text-align: center;
        align-items: center;
    }




    .row-3 {

        /* display: flex;
    width: 100%;
    justify-content: space-between;
margin-right: 10px;
margin-top: 20px;
margin-left: 10px;
margin-bottom: 20%; */
        .col-3 {
            /* background-color: #ff523b; */
            width: 100%;
            grid-row: 10px;
            grid-template-columns: auto auto auto;
            transition: transform 0.5s;

        }

        img {
            width: 100%;
            padding: 9px;
            justify-content: space-between;

        }

        .col-3:hover {
            transform: translateY(-5px);
        }

        h4 {
            align-items: center;
            text-align: center;
            width: 80%;
            /* margin-left: 20%; */

            margin-right: 20px;
        }

        .rating {
            color: #ff523b;
            width: 80%;
            /* margin-left: 20%; */
            margin-right: 20px;
        }

        .Amount {
            align-items: center;
            text-align: center;
            width: 70%;
            /* margin-left: 20%; */
            margin-right: 20px;
        }
    }





}

.offer {
    background: radial-gradient(#fff, #dfdf);
    margin-top: 80px;
    padding: 30px 0;
    align-items: center;
    text-align: center;
    width: 100%;

    .col-6 {
        img {
            padding: 10px;
            margin-bottom: 20px;
            width: 40%;
            align-items: center;
            text-align: center;
        }

        .small {
            color: #555;

        }

    }

    .row-6 {
        width: 100%;
        margin-left: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
    }

    .btn {
        display: inline-block;
        background-color: rgba(244, 59, 59, 0.767);
        color: white;
        padding: 8px 30px;
        margin: 30px 0;
        border-radius: 30px;
        /* background-color as given bellow is not requried */
        transition: background 0.5s;
        margin-top: 10px;

        .btn {
            text-align: center;
            align-items: center;
        }
    }

}

.btn:hover {
    background: green;
}

/* testimonial */
.testimonial {
    padding-top: 50px;

    .col-7:hover {
        transform: translateY(-10px);
    }

    margin-left: 10px;
    margin-right: 10px;

    /* background-color: #ff523b; */
    .row-7 {
        /* background-color: #069c22; */
        width: 100%;
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;

    }

    .col-7 {
        text-align: center;
        padding: 40px 20px;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 1);
        cursor: pointer;
        transition: transform 0.5s;
    }

    img {
        width: 50px;
        margin-top: 20px;
        border-radius: 50%;
    }

    .bi-chat-left-quote {
        font-size: 3ch;
        margin-right: 30px;
        /* background-color: #ff523b; */
    }

    .rating {
        color: #ff523b;
        text-align: center;
        align-items: center;
    }


    .bi-chat-left-quote {
        color: #ff3b3b;
    }
}

.brands {
    margin: 100px auto;
    /* background-color: #ff523b; */
    width: 100%;

    .small_container-8 {
        /* background-color: #555; */

        width: 100%;

        .row-8 {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-top: 20px;
            /* background-color: #ff523b; */

            margin-bottom: 20px;

            img {

                cursor: pointer;

                /* useing this comment to give all images same coller the comment isfilter: grayscale(100%); */
                filter: grayscale(100%);
                width: 96%;
                margin-left: 10px;
                margin-right: 10px;
                height: 40px;
                display: flex;
                overflow: hidden;
                justify-content: space-between;
            }
        }
    }

    .col-8 img:hover {
        /* this commentis used to bavk the image coller */
        filter: grayscale(0);
    }
}


/* footer */
.footer {

    background-color: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    width: 100%;

    .p {
        color: #8a8a8a;
        width: 100%;
        margin-bottom: 20px;
    }

    h3 {
        color: white;
        width: 100%;
    }

    .footer-col-1,
    .footer-col-2,
    .footer-col-3,
    .footer-col-4 {
        min-width: 250px;

        margin-bottom: 20px;
    }

    .footer-col-1 {
        flex-basis: 30%;
    }

    .footer-col-2 {
        flex: 1;
        text-align: center;

        img {
            width: 100px;
            margin-bottom: 20px;
            height: 40px;
            margin-top: 0;
        }
    }

    .footer-col-3 {
        flex-basis: 12%;
        text-align: center;
    }

    .footer-col-4 {
        flex-basis: 12%;
        text-align: center;
    }

    ul {
        list-style-type: none;
    }

    .app-logo {
        margin-top: 20px;

        img {
            width: 140px;


        }

        #img1 {
            height: 70px;
        }
    }

    .hr {
        border: none;
        background-color: #b5b5b5;
        height: 1px;
        margin: 20px 0;
    }

    .copy {

        p {


            text-align: center;

        }

    }

}

/* all productsb page */
.row-2 {
    justify-content: space-between;
    margin: 100px auto 5opx;

    select {
        border: 1px solid red;
        padding: 5px;
    }

    select:focus {
        outline: none;
    }
}
.page-btn{
    margin: 0 auto 80px;
    span{
        display: inline-block;
        border: 1px solid #ff523b;
        margin-left: 10px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        margin-top: 30px;
    }
    span:hover{
        background: #ff3b3b;
        color: white;
    }
}

.single-product-22{
    /* display: flex; */
    /* display: inline-block; */
    /* background-color: #8a8a8a; */
    width: 100%;
    margin-top: 80px;
    align-items: center;
    
    .row-22{
        display: grid;
 /* align-items: center;  */
 grid-template-columns: auto auto;
 column-gap: 5px;
 width: 100%;
 align-items: center;
 /* text-align: center; */
 

    }
    .col-22{
        padding: 20px;
        img{
            height: 200px;
            width: 100%;
            background-color: powderblue;
         }
         .small-img-row{
            /* background-color: #ff3b3b; */
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            img{
                height: 40px;
                margin-top: 30px;
                padding: 5px;

            }
            .small-img-col{
                flex-basis: 24%;
                cursor: pointer;
                
            }
        }
       
        h4{
            margin: 20px 0;
            font-weight: bold;
            font-size: 22px;
            /* background-color: #ff3b3b; */
            
            
            
        }
        
        select{
            display: block;
            /* align-items: center; */
            
            /* margin-left: 90px; */
            padding: 10px;

            margin-top: 10px;
            /* background-color: aqua; */
        }
        input{
            width: 50px;
            height: 40px;
            padding-left:10px;
            font-size: 20px;
            margin-right: 10px;
            
            border: 1px solid #ff523b;
            input:focus{
                outline: none;
            }
        }
        
.bi-layout-text-window{
    color: #ff3b3b;
    margin-left: 20px;
}
    }
    

}
/* cart item details */
.cart-page{
    margin: 80px auto;
    /* width: 100%; */
    
    .cart-info{
        /* background-color: #ff3b3b; */
        display: flex;
        flex-wrap: wrap;
        /* width: 100%; */
        
   
    }
    
    th{
        text-align: left;
        padding: 5px;
        color: #fff;
        background-color: #ff523b;
        width: 100%;
       
font-weight: normal;

    }
    table{
        width: 100%;
        border-collapse: collapse;
    }
    td{
        padding: 10px 5px;
        input{
            width: 40px;
            height: 30px;
            padding: 5px;
            margin-right: 90px;

        }
        a{
            color: #ff523b;
            font-size: 12px;
        }
        img{
            width: 80px;
            height: 80px;
            margin-right: 10px;
        }
    }
    .total-price{
        display: flex;
        /* background-color: #ff3b3b; */
        justify-content: flex-end;
        table{
            border-top: 3px solid #ff3b3b;
            width: 100%;
            max-width: 370px;
        }
        td:last-child{
            text-align: right;
        }
        th:last-child{
text-align: right;
        }
    }
}
/* account page */
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff, #dfdf);
    .from-container{
        background: #fff;
        width: 300px;
        height: 400px;
        position: relative;
        text-align: center;
        padding: 20px 0;
        margin: auto;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    }
    .from-container{
overflow: hidden;
        span{

        
        font-weight: bold;
        padding: 0 10px;
        color: #555;
        cursor: pointer;
        width: 100px;
        display: inline-block;
        }
        .form-btn{
            width: 100%;
            border: none;
            cursor: pointer;
            margin: 10px 0;
            form:focus{
                outline: none;
            }
        

        }
        form{
            max-width: 300px;
            padding: 0 20px;
            position: absolute;
            top: 130px;
            transition: transform 1s;
        }
        input{
            width: 100%;
            height: 30px;
            margin: 10px 0;
            padding: 0 10px;
            border: 1px solid #ccc;
        }
        .btn{
            width: 100%;
            border: none;
            cursor: pointer;
            margin: 10px 0;
            color: white;
            a{
                color: white;
                outline: none;
                font-size: 14px;
            }
            
           
        }
        .btn:focus{
            outline: none;
        
        }
        
    }

    #LoginForm{
        left: -300px;
        
    }
    #RegForm{
        left: 0;
        
    }
    a{
        font-size: 12px;
        /* background-color: #ff3b3b; */
    
        }
    
    #Indicator{
        width: 100px;
        border: none;
        background: #ff523b;
        height: 3px ;
        margin-top: 8px;
        transform: translateX(100px);
        transition: transform 1s;
        margin-left: 49px;

        

    }
  
}

@media screen and(max-width:480) {}


/* media query for menu */
@media only screen and (max-width:800px) {
    nav ul {
        position: absolute;
        top: 59px;
        left: 0;
        background: #333;
        width: 100%;

        overflow: hidden;
        margin-top: 70px;
        transition: max-height 0.5;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #333;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

/* media query for menu less then 600 screen size */
@media only screen and (max-width:600px) {
    .container {
        text-align: center;
    }
    .single-product-22{
        text-align: left;
       
    }
    .col-22{
        padding: 20px 0;
        /* background-color: #ff3b3b; */
        h1{
            font-size: 26px;
            line-height: 32px;
            /* background-color: #ff3b3b; */
            width: 100%;
        } 
    }
    .cart-info p{
        display: none;
        

    }
    
}
